mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  height: 60px;
}

.spacer {
  flex: 1 1 auto;
}

.disable-hover:hover {
  background-color: unset !important;
  color: inherit !important;
  cursor: default !important;
}
