@use "src/assets/scss/mixins";
@use "./src/styles";

.login {
  @include mixins.display-center;
  height: 100%;
  background-image: linear-gradient(styles.$accent, styles.$primary);

  mat-card {
    max-width: 35em;
    margin: 25px;
  }

  mat-card-title {
    text-align: center;
    font-weight: 600;
  }

  form {
    @include mixins.display-column-center;
    padding: 0 60px;
  }

  app-button-icon {
    max-width: 20em;
  }
}
