<section class="detalhes-os">
  <mat-card *ngIf="loading || osModel != null">
    <mat-card-content *ngIf="!loading && osModel != null">
      <ng-container *ngIf="osModel.codigo != null">
        <mat-card-title>OS {{ osModel.codigo }}</mat-card-title>
        <app-spacer [size]="2"></app-spacer>
      </ng-container>

      <div class="content">
        <form class="column-left" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <div appFullWidth>
            <mat-form-field appFullWidth appearance="fill">
              <mat-label>Data de abertura</mat-label>
              <input dataMask [formControlName]="'dataAbertura'" matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error>{{ getError(formGroup.get('dataAbertura')) }}</mat-error>
            </mat-form-field>
          </div>

          <mat-form-field appFullWidth appearance="fill">
            <mat-label>Tipo de atendimento</mat-label>
            <mat-select [formControlName]="'tipoAtendimento'">
              <mat-option *ngFor="let tipoAtendimento of osTiposAtendimento" [value]="tipoAtendimento">
                {{tipoAtendimento.descricao}}
              </mat-option>
            </mat-select>
            <mat-error>{{ getError(formGroup.get('tipoAtendimento')) }}</mat-error>
          </mat-form-field>

          <mat-form-field appFullWidth appearance="fill">
            <mat-label>Situação</mat-label>
            <mat-select [formControlName]="'situacao'">
              <mat-option *ngFor="let situacao of osSituacoes" [value]="situacao">
                {{situacao.descricao}}
              </mat-option>
            </mat-select>
            <mat-error>{{ getError(formGroup.get('situacao')) }}</mat-error>
          </mat-form-field>

          <mat-form-field appFullWidth appearance="fill">
            <mat-label>Observação</mat-label>
            <textarea [formControlName]="'observacao'" rows="3" matInput></textarea>
          </mat-form-field>

          <mat-form-field appFullWidth appearance="fill">
            <mat-label>Cliente</mat-label>
            <input [formControlName]="'cliente'" [matAutocomplete]="autocompleteCliente" matInput>
            <mat-autocomplete #autocompleteCliente="matAutocomplete" [displayWith]="displayCliente">
              <mat-option *ngFor="let cliente of clientesFiltrados | async" [value]="cliente">
                {{cliente.nome}}
              </mat-option>
            </mat-autocomplete>
            <mat-error>{{ getError(formGroup.get('cliente')) }}</mat-error>
            <mat-error *ngIf="formGroup.get('cliente')?.hasError('notFound') ?? false">
              Nenhum cliente encontrado.
            </mat-error>
          </mat-form-field>

          <div appFullWidth class="contato">
            <mat-form-field class="form-field-contatos" appearance="fill">
              <mat-label>Nome - contato</mat-label>
              <input [formControlName]="'nomeContato'" matInput>
            </mat-form-field>

            <mat-form-field class="form-field-contatos" appearance="fill">
              <mat-label>Fone - contato</mat-label>
              <input phoneMask [formControlName]="'foneContato'" matInput>
            </mat-form-field>
          </div>

          <mat-divider appFullWidth></mat-divider>

          <mat-form-field appFullWidth appearance="fill">
            <mat-label>Responsável</mat-label>
            <input [formControlName]="'responsavel'" [matAutocomplete]="autocompleteResponsavel" matInput>
            <mat-autocomplete #autocompleteResponsavel="matAutocomplete" [displayWith]="displayUsuario">
              <mat-option *ngFor="let usuario of usuariosFiltrados | async" [value]="usuario">
                {{usuario.nome}}
              </mat-option>
            </mat-autocomplete>
            <mat-error>{{ getError(formGroup.get('responsavel')) }}</mat-error>
          </mat-form-field>

          <mat-form-field appFullWidth appearance="fill">
            <mat-label>Usuário</mat-label>
            <input [value]="osModel.usuarioAtendente.nome" [disabled]="true" matInput>
          </mat-form-field>

          <app-spacer></app-spacer>

          <button class="encerrar-os" (click)="onSubmit()" appFullWidth mat-stroked-button color="primary">
            Encerrar OS
          </button>
        </form>

        <div class="column-right">
          <mat-divider class="divider-vertical" [vertical]="true"></mat-divider>

          <div class="column-content">
            <div class="add-equipamento" *ngIf="osEquipamentos.length == 0">
              <app-button-icon (click)="adicionarEquipamento()">
                Adicionar equipamento
              </app-button-icon>
            </div>

            <mat-tab-group *ngIf="osEquipamentos.length != 0" dynamicHeight mat-align-tabs="start">
              <mat-tab *ngFor="let equipamento of osEquipamentos" [label]="equipamento.descricaoDisplay">
                <app-spacer [size]="2"></app-spacer>

                <div class="problemas">
                  <mat-form-field appFullWidth appearance="fill">
                    <mat-label>Problema reclamado</mat-label>
                    <textarea [(ngModel)]="equipamento.problemaReclamado" rows="7" matInput></textarea>
                  </mat-form-field>

                  <mat-form-field appFullWidth appearance="fill">
                    <mat-label>Problema constatado</mat-label>
                    <textarea [(ngModel)]="equipamento.problemaConstatado" rows="7" matInput></textarea>
                  </mat-form-field>
                </div>

                <button (click)="adicionarServico(equipamento)" mat-button class="add-servico" color="primary">
                  <mat-icon>add</mat-icon>
                  Adicionar serviço
                </button>

                <mat-stepper #stepper orientation="vertical" [linear]="false">
                  <mat-step [editable]="true" [completed]="false" [state]="'number'" *ngFor="let servico of equipamento.servicos">
                    <ng-template matStepLabel>{{ servico.servico.descricao }}</ng-template>
                    <ng-template matStepContent>
                      <mat-form-field appFullWidth class="descricao-servico" appearance="fill">
                        <mat-label>Descrição</mat-label>
                        <textarea [(ngModel)]="servico.descricaoInformada" rows="3" matInput></textarea>
                      </mat-form-field>
                    </ng-template>
                    <ng-template let-index="index">{{ index + 10 }}</ng-template>
                  </mat-step>
                </mat-stepper>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
    </mat-card-content>

    <mat-card-content *ngIf="loading">
      <app-shimmer>
        <div class="title-shimmer"></div>
        <app-spacer></app-spacer>

        <div class="content">
          <div class="column-left">
            <div class="input-shimmer"></div>
            <div class="input-shimmer"></div>
            <div class="input-shimmer"></div>
            <div class="text-area-shimmer"></div>
            <div class="input-shimmer"></div>
            <div appFullWidth class="contato">
              <div class="input-shimmer"></div>
              <div class="input-shimmer"></div>
            </div>
            <mat-divider appFullWidth></mat-divider>
            <div class="input-shimmer"></div>
            <div class="input-shimmer"></div>
            <app-spacer></app-spacer>
            <div class="input-shimmer"></div>
          </div>

          <div class="column-right">
            <mat-divider class="divider-vertical" [vertical]="true"></mat-divider>

            <div class="column-content">
              <div class="input-shimmer" style="width: 50%;"></div>
              <app-spacer></app-spacer>
              <div class="problemas">
                <div class="text-area-shimmer" style="height: 150px"></div>
                <div class="text-area-shimmer" style="height: 150px"></div>
              </div>
              <div class="custom-shimmer" style="height: 35px; width: 180px; border-radius: 8px;"></div>
              <div class="input-shimmer" style="width: 40%;"></div>
              <div class="text-area-shimmer"></div>
              <div class="input-shimmer" style="width: 40%;"></div>
              <div class="input-shimmer" style="width: 40%;"></div>
              <div class="input-shimmer" style="width: 40%;"></div>
            </div>
          </div>
        </div>
      </app-shimmer>
    </mat-card-content>
  </mat-card>

  <div class="os-nao-encontrada" *ngIf="osModel == null">
    <app-spacer [size]="4"></app-spacer>
    <mat-icon color="primary">manage_search</mat-icon>
    <app-spacer [size]="3"></app-spacer>
    <h1>OS não encontrada</h1>
  </div>
</section>
