<section class="detalhes-os">
  <mat-card>
    <mat-card-content *ngIf="!loading">
      <mat-card-title>OS {{ osModel?.codigo ?? "" }}</mat-card-title>

      <app-spacer [size]="2"></app-spacer>

      <div class="content">
        <div class="column-left">
          <div appFullWidth>
            <mat-form-field appFullWidth appearance="fill">
              <mat-label>Data de abertura</mat-label>
              <input mask="00/00/0000" matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <mat-form-field appFullWidth appearance="fill">
            <mat-label>Tipo de atendimento</mat-label>
            <mat-select>
              <mat-option *ngFor="let tipoAtendimento of osTiposAtendimento" [value]="tipoAtendimento">
                {{tipoAtendimento.descricao}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appFullWidth appearance="fill">
            <mat-label>Situação</mat-label>
            <mat-select>
              <mat-option *ngFor="let situacao of osSituacoes" [value]="situacao">
                {{situacao.descricao}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appFullWidth appearance="fill">
            <mat-label>Observação</mat-label>
            <textarea rows="3" matInput></textarea>
          </mat-form-field>

          <mat-form-field appFullWidth appearance="fill">
            <mat-label>Cliente</mat-label>
            <input matInput>
          </mat-form-field>

          <div appFullWidth class="contato">
            <mat-form-field class="form-field-contatos" appearance="fill">
              <mat-label>Nome - contato</mat-label>
              <input matInput>
            </mat-form-field>

            <mat-form-field class="form-field-contatos" appearance="fill">
              <mat-label>Fone - contato</mat-label>
              <input mask="(00) 00000-0000" matInput>
            </mat-form-field>
          </div>

          <mat-divider appFullWidth></mat-divider>

          <mat-form-field appFullWidth appearance="fill">
            <mat-label>Responsável</mat-label>
            <input matInput>
          </mat-form-field>

          <mat-form-field appFullWidth appearance="fill">
            <mat-label>Usuário</mat-label>
            <input matInput>
          </mat-form-field>

          <app-spacer></app-spacer>

          <button class="encerrar-os" appFullWidth mat-stroked-button color="primary">
            Encerrar OS
          </button>
        </div>

        <mat-divider class="divider-vertical" [vertical]="true"></mat-divider>

        <div class="column-right">
          <mat-tab-group dynamicHeight mat-align-tabs="start">
            <mat-tab *ngFor="let equipamento of equipamentos" [label]="equipamento.descricaoDisplay">
              <app-spacer [size]="2"></app-spacer>

              <div class="problemas">
                <mat-form-field appFullWidth appearance="fill">
                  <mat-label>Problema reclamado</mat-label>
                  <textarea rows="7" matInput></textarea>
                </mat-form-field>

                <mat-form-field appFullWidth appearance="fill">
                  <mat-label>Problema constatado</mat-label>
                  <textarea rows="7" matInput></textarea>
                </mat-form-field>
              </div>

              <mat-stepper orientation="vertical" [linear]="false">
                <mat-step *ngFor="let servico of equipamento.servicos">
                  <ng-template matStepLabel>{{ servico.servico.descricao }}</ng-template>
                  <ng-template matStepContent>
                    <mat-form-field appFullWidth class="descricao-servico" appearance="fill">
                      <mat-label>Descrição</mat-label>
                      <textarea rows="3" matInput [(ngModel)]="servico.descricaoInformada"></textarea>
                    </mat-form-field>
                  </ng-template>
                  <ng-template let-index="index">{{ index + 10 }}</ng-template>
                </mat-step>
              </mat-stepper>

              <button mat-button class="add-servico" color="primary">
                <mat-icon>add</mat-icon>
                Adicionar serviço
              </button>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
