<section class="listagem-os">
  <button mat-flat-button (click)="criarOs()" color="accent">
    <mat-icon>add</mat-icon>
    Criar Ordem de Serviço
  </button>

  <app-spacer></app-spacer>

  <mat-card>
    <mat-card-content>
      <div [hidden]="loading">
        <mat-card-title>Ordens de serviço</mat-card-title>

        <app-spacer [size]="2"></app-spacer>

        <div class="filtros">
          <div class="flex row">
            <mat-form-field class="input-date" appearance="fill">
              <mat-label>Período</mat-label>
              <mat-date-range-input [rangePicker]="rangePicker">
                <input dataMask matStartDate placeholder="Data inicial" #startDate>
                <input dataMask matEndDate placeholder="Data final" #endDate>
              </mat-date-range-input>
              <mat-hint>dd/mm/aaaa – dd/mm/aaaa</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
              <button type="button" *ngIf="mostrarLimparDatas" (click)="limparDatas()" mat-icon-button matSuffix>
                <mat-icon class="clear-icon">clear</mat-icon>
              </button>
              <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                  <button mat-button matDateRangePickerCancel>Cancelar</button>
                  <button mat-raised-button color="primary" matDateRangePickerApply>Confirmar</button>
                </mat-date-range-picker-actions>
              </mat-date-range-picker>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Situação</mat-label>
              <mat-select [(value)]="filtros.situacao">
                <mat-option [value]="null">Qualquer</mat-option>
                <mat-option *ngFor="let situacao of osSituacoes" [value]="situacao">
                  {{situacao.descricao}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appFullWidth appearance="fill">
              <mat-label>Cliente</mat-label>
              <input [formControl]="clienteControl" [(ngModel)]="filtros.cliente" [matAutocomplete]="autocompleteCliente" matInput>
              <mat-autocomplete #autocompleteCliente="matAutocomplete" [displayWith]="displayCliente">
                <mat-option *ngFor="let cliente of clientesFiltrados | async" [value]="cliente">
                  {{cliente.nome}}
                </mat-option>
                <mat-error>{{ getError(clienteControl) }}</mat-error>
                <mat-error *ngIf="clienteControl?.hasError('notFound') ?? false">
                  Nenhum cliente encontrado.
                </mat-error>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <app-spacer></app-spacer>

          <div class="flex row">
            <mat-form-field appearance="fill">
              <mat-label>Código</mat-label>
              <input matInput [(ngModel)]="filtros.codigo">
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Equipamento</mat-label>
              <mat-select [(value)]="filtros.equipamento">
                <mat-option [value]="null">Qualquer</mat-option>
                <mat-option *ngFor="let equipamento of equipamentos" [value]="equipamento">
                  {{equipamento.descricao}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Identificador</mat-label>
              <mat-select [(value)]="filtros.identificador" [disabled]="filtros.equipamento == null">
                <mat-option [value]="null">Qualquer</mat-option>
                <mat-option *ngFor="let identificador of identificadores" [value]="identificador">
                  {{identificador.descricao}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="flex-consultar">
            <app-button-icon (click)="filtrar()" [loading]="loadingFiltro" appFullWidth>
              {{loadingFiltro ? "Buscando..." : "Filtrar"}}
            </app-button-icon>
          </div>
        </div>

        <app-spacer [size]="2"></app-spacer>

        <div style="overflow-x: auto;">
          <table
            appFullWidth
            mat-table [dataSource]="dataSource"
            matSort
            class="mat-elevation-z8">

            <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>

            <ng-container matColumnDef="codigo">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="codigo">Código</th>
              <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
            </ng-container>

            <ng-container matColumnDef="clienteDisplay">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="clienteDisplay">Cliente</th>
              <td mat-cell *matCellDef="let element"> {{element.clienteDisplay}} </td>
            </ng-container>

            <ng-container matColumnDef="situacaoDisplay">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="situacaoDisplay">Situação</th>
              <td mat-cell *matCellDef="let element">
                <span class="situacao">{{element.situacaoDisplay}}</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="dataHora">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="dataHora">Data</th>
              <td mat-cell *matCellDef="let element"> {{element.dataHora | date:"dd/MM/YYYY"}} </td>
            </ng-container>

            <ng-container matColumnDef="equipamentoDisplay">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="equipamentoDisplay">Equipamentos</th>
              <td mat-cell *matCellDef="let element"> {{element.equipamentoDisplay}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <button (click)="visualizarOs(element.codigo)" [matTooltip]="'Visualizar OS'" mat-icon-button color="accent">
                  <mat-icon color="accent">edit_square</mat-icon>
                </button>
              </td>
            </ng-container>
          </table>
        </div>

        <div *ngIf="loadingFiltro" class="flex-column">
          <app-spacer [size]="2"></app-spacer>
          <mat-spinner [diameter]="35"></mat-spinner>
        </div>
        <span *ngIf="!loadingFiltro && dataSource.data.length == 0" class="row-table-empty">Nenhuma ordem de serviço encontrada.</span>
      </div>

      <div [hidden]="loading || dataSource.data.length == 0">
        <mat-paginator
          [disabled]="loadingFiltro || dataSource.data.length == 0"
          [length]="paginatorLength"
          [pageSize]="paginatorPageSize"
          [pageSizeOptions]="paginatorPageSizeOptions"
          (page)="handlePageEvent($event)">
        </mat-paginator>
      </div>

      <ng-container *ngIf="loading">
        <app-shimmer>
          <div class="title-shimmer"></div>
          <app-spacer [size]="2"></app-spacer>
          <div style="display: flex; gap: 12px">
            <div class="input-shimmer"></div>
            <div class="input-shimmer"></div>
            <div class="input-shimmer"></div>
          </div>
          <div style="display: flex; gap: 12px">
            <div class="input-shimmer"></div>
            <div class="input-shimmer"></div>
            <div class="input-shimmer"></div>
          </div>
          <app-spacer [size]="2"></app-spacer>
          <div class="full-shimmer" style="height: 500px"></div>
        </app-shimmer>
      </ng-container>
    </mat-card-content>
  </mat-card>
</section>
