@use "src/assets/scss/mixins";

//region Material UI

@use '@angular/material' as mat;

@include mat.core();

$primary-palette: mat.define-palette(mat.$deep-purple-palette, A200, A100, A400);
$accent-palette: mat.define-palette(mat.$deep-purple-palette, 500, 700, 900);
$warn-palette: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
    warn: $warn-palette,
  )
));

@include mat.all-component-themes($light-theme);

// Colors
$primary: mat.get-color-from-palette($primary-palette);
$primary-darker: mat.get-color-from-palette($primary-palette, 'darker');
$primary-lighter: mat.get-color-from-palette($primary-palette, 'lighter');
$primary-text: mat.get-color-from-palette($primary-palette, 'text');

$accent: mat.get-color-from-palette($accent-palette);
$accent-darker: mat.get-color-from-palette($accent-palette, 'darker');
$accent-lighter: mat.get-color-from-palette($accent-palette, 'lighter');
$accent-text: mat.get-color-from-palette($accent-palette, 'text');

$warn: mat.get-color-from-palette($warn-palette);
$warn-darker: mat.get-color-from-palette($warn-palette, 'darker');
$warn-lighter: mat.get-color-from-palette($warn-palette, 'lighter');
$warn-text: mat.get-color-from-palette($warn-palette, 'text');

//endregion

html, body {
  height: 100vh;
  margin: 0;

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex {
  @include mixins.display-center;
  flex-flow: row wrap;
}

.flex-column {
  @include mixins.display-column-center;
}

h1 {
  font-size: 2rem;
}

@mixin snackbar-mixin($color) {
  background: white;

  border-left-style: solid;
  border-width: 12px;
  border-color: $color;

  color: black;

  .snack-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    mat-icon {
      @include mixins.display-center;
      padding: 20px 10px;
      margin-right: 8px;
      font-size: 3em;
      color: $color;
    }
  }

  .snack-mensagem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 10px;

    strong {
      font-size: 16px;
      margin-bottom: 4px;
    }

    span {
      color: grey;
    }
  }
}

.snackbar-default {
  @include snackbar-mixin($primary);
}

.snackbar-success {
  @include snackbar-mixin(#47d565);
}

.snackbar-error {
  @include snackbar-mixin($warn);
}
